.current {
    top: 53.5px;
}

.top {
    top: -50.5px;
}

.bottom {
    top: 157.5px;
}

.closed .current {
    top: -44px !important
}

.closed .top {
    top: -147.3px !important;
}

.closed .bottom {
    top: 59.3px !important;
}

.offscreenBottom, .offscreenTop {
    transition: 1s !important;
    transition-timing-function: linear;
}

.offscreenTop {
    top: -154.5px;
}

.offscreenBottom {
    top: 261.5px;
}

.insetShadow {
    box-shadow: inset -3px -3px 5px 0 #fefefe, inset 3px 3px 5px 0 rgb(222 222 230 / 50%) !important;
    animation: inset_shadow 2s ease;
}

.outsideShadow {
    box-shadow: 5px 5px 5px 0 rgb(222 222 230 / 50%), -3px -3px 5px 0 #fefefe !important;
    animation: outside_shadow 2s ease;
}

.insetShadow .inside {
    opacity: 1;
}

.outsideShadow .inside {
    opacity: 0;
}

.outsideShadow p {
    color: #9AB7DB !important;
    font-size: 50px !important;
}

@keyframes inset_shadow {
    0% {
        box-shadow: 5px 5px 5px 0 rgb(222 222 230 / 50%), -3px -3px 5px 0 #fefefe;
    }

    50% {
        box-shadow: 0px 0px 0px 0 rgb(222 222 230 / 50%), 0px 0px 0px 0 #fefefe;
        box-shadow: inset 0px 0px 0px 0 #fefefe, inset 0px 0px 0px 0 rgb(222 222 230 / 50%);
    }

    100% {
        box-shadow: 5px 5px 5px 0 rgb(222 222 230 / 50%), -3px -3px 5px 0 #fefefe;
        box-shadow: inset -3px -3px 5px 0 #fefefe, inset 3px 3px 5px 0 rgb(222 222 230 / 50%);
    }
}

@keyframes outside_shadow {
    0% {
        box-shadow: inset -3px -3px 5px 0 #fefefe, inset 3px 3px 5px 0 rgb(222 222 230 / 50%);
    }

    50% {
        box-shadow: inset 0px 0px 0px 0 #fefefe, inset 0px 0px 0px 0 rgb(222 222 230 / 50%);
        box-shadow: 0px 0px 0px 0 rgb(222 222 230 / 50%), 0px 0px 0px 0 #fefefe;;
    }

    100% {
        box-shadow: 5px 5px 5px 0 rgb(222 222 230 / 50%), -3px -3px 5px 0 #fefefe;
    }
}

.red {
    animation: 0.6s red linear;
}

.green {
    animation: 0.6s green linear;
}

@keyframes red {
    0% {
        fill: #EBD730;
    }

    20% {
        fill: #E85156;
    }

    80% {
        fill: #E85156;
    }

    100% {
        fill: #EBD730;
    }
}

@keyframes green {
    0% {
        fill: #EBD730;
    }

    20% {
        fill: #6CB769;
    }

    80% {
        fill: #6CB769;
    }

    100% {
        fill: #EBD730;
    }
}

.goRight {
    margin-right: -220px !important;
}

.goRight {
    margin-right: 320px !important;
}

.closed {
    bottom: 201px !important;
    height: 0px !important;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.goUnder {
    margin-top: 550px !important;
}

.showOutcome {
    height: 451px !important;
    top: 48px !important;
}

.showOutcome .card {
    animation: showCard 2s ease;
    animation-fill-mode: forwards;
}

@keyframes showCard {
    50% {
        margin-top: 900px;
    }

    100% {
        margin-top: 0px;
    }
}

.row {
    animation: rowPopup 0.8s ease-in-out;
}

@keyframes rowPopup {
    from {
        top: 600px;
    }

    to {
        top: 0px;
    }
}